<!DOCTYPE html>
<html>
<head>
    <title>The Movies@Mariana Tek</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#search_query").keyup(function() {
                var search_term = $(this).val();
                $(".movie").each(function() {
                    var title = $(this).find(".movie-title").text();
                    if (title.indexOf(search_term) > -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>The Movies@Mariana Tek</h1>
    <form>
        <select name="genre" id="genre">
            <option value="">All Genres</option>
            {% for genre in genres %}
                <option value="{{ genre }}" {% if selected_genre == genre %}selected{% endif %}>{{ genre }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search_query" id="search_query" placeholder="Search by Title">
        <button type="submit">Filter</button>
    </form>
    <hr>
    {% for movie in movies %}
        <div class="movie">
            <h2><a href="#">{{ movie.title }}</a></h2>
            <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="movie-poster">
            <p class="movie-genre">Genre(s): {{ movie.genre }}</p>
            <p class="movie-rating">Rating: {{ movie.rating }}</p>
            <p class="movie-year">Year Released: {{ movie.year_release }}</p>
            <p class="movie-metacritic">Metacritic Rating: {{ movie.metacritic_rating }}</p>
            <p class="movie-runtime">Runtime: {{ movie.runtime }} minutes</p>
        </div>
    {% endfor %} </body>
</html>
